.footer {
    margin: 0 2.5rem;
    padding: .5rem 0;
    align-items: center;
    display: flex;
    justify-content:space-around;
}

.Left, .Right {
    display: flex;
    flex-direction:column;
    align-items:flex-start

}

a > span{
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: #94a3b8;
}

a > span:hover {
    color: #5eead4;
}

.icon {
    width: 80px;
    cursor: pointer;
}

